In [ ]:
#import dependencies

from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#connect to the sql server/database

engine = create_engine('postgresql://postgres:password@localhost:5432/Employee')
connection = engine.connect()

In [ ]:
#using pandas pd.read_sql
#using SELECT * FROM the salaries table can be read
#set the query to variable salries

salaries=pd.read_sql("SELECT * FROM salaries",connection)
salaries

In [ ]:
#using pandas pd.read_sql
#using SELECT * FROM the employees table can be read
#set the query to variable employees

employees = pd.read_sql("select * from employees", connection)
employees

In [ ]:
#using pandas pd.read_sql
#using SELECT * FROM the titles table can be read
#set the query to variable titles

titles = pd.read_sql("select * from titles",connection)
titles

In [ ]:
#using pandas .merge() on the "emp_no" field
#will produce the salary for each "emp_no"
employee_salaries = employees.merge(salaries, on = "emp_no")
employee_salaries

In [ ]:
#using pandas .merge() left_on the "emp_title" and , right_on the "title_id"
#will add each employee's title and title_id to the employee_salaries database

combined = employee_salaries.merge(titles, left_on = "emp_title", right_on = "title_id")
combined

In [ ]:
#using list comprehension, the salary and title column can
#be pulled out

Salaries_and_titles = combined[['salary','title']]
Salaries_and_titles

In [ ]:
#using pandas .groupby() to aggregate the Salaries by Title.
#applying .mean() the the grouped data will produce the average salary
#for each group. applying .round(2) to two digits.  This is all set
#to the variable Avg_Salaries_and_titles

Avg_Salaries_and_titles = Salaries_and_titles.groupby(['title']).mean().round(2)
Avg_Salaries_and_titles = Avg_Salaries_and_titles.sort_values('salary')
Avg_Salaries_and_titles

In [ ]:
#now we can graph these salaries

Salaries_and_titles.hist(column='salary',color = 'blue')
plt.xlabel('Salary Range')
plt.ylabel('Salary Count')
plt.title('Salary Average Histogram')

In [ ]:
# apply bar chart to grouped variable

Avg_Salaries_and_titles.plot.bar(color='gold')
#set y-axis label
plt.ylabel('Job Title')

#set x-axis label
plt.xlabel('Average Salary')

#set title of bar chart
plt.title('Job Title Salary Averages ')

plt.show()

In [ ]:
#Senior Engineers shouldn't make less than Assistnat Engineers, data is fake.